div>*{
    margin: 8px;
}

.center{
    display: flex;
    justify-content: content;
}

body{
    background-color: floralwhite;
    display: flex;
    
}

button:hover{
    cursor: pointer;
}

textarea{
    resize: none;
    width: 300px;
    height: 70px;
}
